@page "{id}"
@model DetailModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Objednávka #@Model.Order.Id</h1>
</div>

<a  class="btn btn-dark" asp-page-handler="DownloadInvoice">
@* <a  class="btn btn-dark" asp-page-handler="DownloadInvoice" asp-route-id="@Model.Order.InvoiceId"> *@
    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true" ></span> Faktura
</a>
<a  class="btn btn-success" asp-page-handler="MarkAsPaid" asp-route-id="@Model.Order.Id">
    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Zaplatit
</a>

<h3>Klient</h3>
<p>
    @Model.Order.Name<br/>
    @Model.Order.Email
</p>
<h4>Adresa</h4>
<address>
    @Model.Order.Street, @Model.Order.City<br/>
    @Model.Order.ZipCode @Model.Order.Country
</address>
