@page "{id}"
@using Luxuryphile.CORE.Database
@model DetailModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Objednávka #@Model.Order.Id</h1>
    <span class="badge badge-info">Vytvořena 21.3.2020</span>

</div>

<div class="mt-lg-2">
    @if (Model.Order.State == OrderState.Created)
    {
        <a class="btn btn-dark btn-sm" href="#">Odeslat</a>
        <a class="btn btn-success btn-sm" asp-page-handler="MarkAsPaid" asp-route-id="@Model.Order.Id">Označit jako zaplacenou</a>    
    }
    @if (Model.Order.State == OrderState.Paid)
    {
        <a class="btn btn-dark btn-sm" asp-page-handler="Cancel" asp-route-id="@Model.Order.Id">Vrácení</a>    
        <a class="btn btn-dark btn-sm" asp-page-handler="MarkAsDelivered" asp-route-id="@Model.Order.Id">Výměna</a>
    }
    <a class="btn btn-danger btn-sm" asp-page-handler="Cancel" asp-route-id="@Model.Order.Id">Zrušit</a>
</div>

<div class="row mt-lg-4">
    <div class="col-md-6">
        <h4>Klient</h4>
        <p>
            @Model.Order.Name<br/>
            @Model.Order.Email
        </p>
    </div>
    <div class="col-md-6">
        <h4>Adresa</h4>
        <address>
            @Model.Order.Street, @Model.Order.City<br/>
            @Model.Order.ZipCode @Model.Order.Country
        </address>
    </div>
</div>

<table class="table table-hover text-right">
    <thead class="thead-dark">
    <tr>
        <th></th>
        <th></th>
        <th>Dph</th>
        <th>Cena za jednotku</th>
        <th>Celkem bez DPH</th>
    </tr>
    </thead>
    @foreach (var item in Model.Order.SoldItems)
    {
        <tr>
            <td>@item.Quantity @item.UnitName</td>
            <td>@item.Name</td>
            <td>@item.VatRateRate %</td>
            <td>@item.UnitPrice.ToString("0.00") CZK</td>
            <td>@item.Price.ToString("0.00") CZK</td>
        </tr>
    }
</table>
<a class="btn btn-dark btn-sm" href="#">Upravit</a>
<hr/>
<h4>Fakturace</h4>
<div class="row">
    <div class="col-md-6">
        Faktura <a href="#">#20200003</a><br/>
        @if (Model.Order.State == OrderState.Created)
        {
            <span class="badge badge-info">Čeká na zaplacení</span><br/>
        }
        else
        {
            <span class="badge badge-info">Zaplacena 24.3.2020</span>
        }
    </div>
    <div class="col-md-6">
        Zálohová faktura <a href="#">#11120200003</a><br/> <span class="badge badge-info">Zaplacena 23.3.2020</span>
    </div>
</div>
<hr/>
<h4>Doprava</h4>
@if (false)
{
    <a class="btn btn-dark btn-sm" asp-page-handler="Cancel" asp-route-id="@Model.Order.Id">Vygenerovat štítek</a>
}
else
{
    <span>DPD štítek<a href="#">#39458739458</a><br/></span>
}
    
<hr/>
<h4>Komise</h4>
<div class="form-row">
    <div class="form-group col-md-6">
        <label>Jméno prodejce</label>
        <input class="form-control" placeholder="Jméno a příjmení">
    </div>
    <div class="form-group col-md-6">
        <label >Číslo smlouvy</label>
        <input  type="email" class="form-control" placeholder="Smlouva">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label>Provize</label>
        <div class="input-group">
            <input class="form-control" placeholder="Provize" value="10%">
            <div class="input-group-append">
                <span class="input-group-text">%</span>
            </div>
        </div>
    </div>    
    <div class="form-group col-md-8">
        <label>Platba</label>
        <select id="inputState" class="form-control">
            <option selected>Hotově</option>
            <option>Převodem</option>
        </select>
    </div>
</div>
<div class="mb-lg-2">Spočtená provize: <b>234 Kč</b></div>
<a class="btn btn-dark btn-sm" asp-page-handler="Cancel" asp-route-id="@Model.Order.Id">Uložit</a>





